@media (max-width: 500px) {
  .bottom {
    flex-direction: column;
  }
  .screen .bottom a {
    text-decoration: underline;
  }
  .screen a {
    text-decoration: underline;
  }
  .login {
    display: block;
  }
  .screen {
    padding: 0;
  }
}
